<!DOCTYPE html>
<html>
	<head>
		<link href="./static/main.css" rel="stylesheet" />
		<title> {{ .title }} </title>
	</head>

	<body>
		{{ template "status" . }}

		<div class="container">
			{{ if (eq .gs.Save.State 0) }}
				{{ template "map" . }}
				{{ template "menu" . }}
			{{ else if (eq .gs.Save.State 1) }}
				{{ template "conversation" . }}
			{{ else if (eq .gs.Save.State 2) }}
				{{ template "misc" . }}
			{{ else if (eq .gs.Save.State 3) }}
				{{ template "battle" . }}
			{{ end }}
		</div>


	</body>
</html>
