body {
    text-align: center;
    font-family: sans-serif;
    margin: 0 3%;
}

.container {
  display: flex;
  align-items: center;
}

#map {
  display: grid;
  flex: 0 0 auto;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(20px, 120px);
  gap: 5px;
  margin: 20px;
  width: 50%;
  height: 10%;
}

#map > div.map {
  border-radius: 5px;
  padding: 3px;
}

.status {
    padding: 10%;
    text-align: center;
    vertical-align: middle;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.character {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 10%;
}

#mapcharctn {
    display: inline;
    text-align: center;
    vertical-align: middle;
}

#mapchar {
    width: 90%;
    height: 90%;
    object-fit: scale-down;
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30;
  gap: 5;
  margin: auto;
  width: 50%;
}

.dir {
  border-radius: 5px;
  padding: 10px 30px;
  border: 2px solid gray;
}

.dir:hover {
    background-color: lightgray;
}
.dir:active {
    background-color: darkgray;
}

.desert {
  background-color: #FFE4B5;
}

.mountain {
  background-color: #444444;
}

.water {
  background-color: #4682B4;
}

.grass {
  background-color: #9ACD32;
}
