<!DOCTYPE html>
<html>
	<head>
		<link href="http://kemcbride.noho.st/gin-quest/static/main.css" rel="stylesheet" />
		<title> {{ .title }} </title>
	</head>

	<body>
		<h2> {{ .gs.GetCurrRoomName }} </h2>

		{{ $xs := .xrange }}
		{{ $ys := .yrange }}
		{{ $gs := .gs }}
		<div class="container">
		{{ range $yr := $ys }}
		{{ range $xr := $xs }}
		{{ if eq $xr $gs.GetX }}
		{{ if eq $yr $gs.GetY }}
			<div class="{{ $gs.GetGridLocClass $xr $yr }}"> 
				<img id="mapchar" src="./static/img/ginquestprotag-kougra0.1.png"></img>
			</div>
		{{ else }}
			<div class="{{ $gs.GetGridLocClass $xr $yr }}"> </div>
		{{ end }}
		{{ else }}
			<div class="{{ $gs.GetGridLocClass $xr $yr }}"> </div>
		{{ end }}
		{{ end }}
		{{ end }}
		</div>

		<div class="menu">
			<div class="controls">
				<div> </div>
				<div class="dir" onclick="window.location.href='.?up';">
					↑
				</div>
				<div> </div>
				<div class="dir" onclick="window.location.href='.?left';">
					←
				</div>
				<div> </div>
				<div class="dir" onclick="window.location.href='.?right';">
					→
				</div>
				<div> </div>
				<div class="dir" onclick="window.location.href='.?down';">
					↓
				</div>
				<div> </div>
			</div>
			<div class="character">
				<img src="./static/img/ginquestprotag-kougra0.1.png"></img>
			<div>
		</div>

	</body>
</html>
