<!DOCTYPE html>
<html>
	<head>
		<link href="http://kemcbride.noho.st/gin-quest/static/main.css" rel="stylesheet" />
		<title> {{ .title }} </title>
	</head>

	<body>
		<h2> {{ .gs.GetCurrRoomName }} </h2>

		{{ $xs := .xrange }}
		{{ $ys := .yrange }}
		{{ $gs := .gs }}
		<div class="container">
			<div id="map">
			{{ range $yr := $ys }}
			{{ range $xr := $xs }}
			{{ if eq $xr $gs.Save.X }}
			{{ if eq $yr $gs.Save.Y }}
				<div class="map {{ $gs.GetGridLocClass $xr $yr }}"> 
					<img id="mapchar" src="./static/img/ginquestprotag-kougra0.1.png"></img>
				</div>
			{{ else }}
				{{ if $gs.NpcHere $xr $yr }}
				<div class="map {{ $gs.GetGridLocClass $xr $yr }}"> 
					<img class="mapnpc" src="./static/img/{{ $gs.GetGridLocImg $xr $yr }}"></img>
				</div>
				{{ else }}
				<div class="map {{ $gs.GetGridLocClass $xr $yr }}"> </div>
				{{ end }}
			{{ end }}
			{{ else }}
				{{ if $gs.NpcHere $xr $yr }}
				<div class="map {{ $gs.GetGridLocClass $xr $yr }}"> 
					<img class="mapnpc" src="./static/img/{{ $gs.GetGridLocImg $xr $yr }}"></img>
				</div>
				{{ else }}
				<div class="map {{ $gs.GetGridLocClass $xr $yr }}"> </div>
				{{ end }}
			{{ end }}
			{{ end }}
			{{ end }}
			</div>
			<div class="menu">
				<div class="character">
					<img src="./static/img/ginquestprotag-kougra0.1.png"></img>
				</div>
				<div class="controls">
					<div> </div>
					<div class="dir" onclick="window.location.href='.?up';">
						↑
					</div>
					<div> </div>
					<div class="dir" onclick="window.location.href='.?left';">
						←
					</div>
					<div> </div>
					<div class="dir" onclick="window.location.href='.?right';">
						→
					</div>
					<div> </div>
					<div class="dir" onclick="window.location.href='.?down';">
						↓
					</div>
				</div>
				<div class="status">
					{{ .gs.GetStatusBlurb }}
				</div>
			</div>
		</div>


	</body>
</html>
