<!DOCTYPE html>
<html>
	<head>
		<link href="http://kemcbride.noho.st/gin-quest/static/main.css" rel="stylesheet" />
		<title> {{ .title }} </title>
	</head>

	<body>
		<h1> {{ .title }} </h1>

		<h2> {{ .x }}, {{ .y }}, {{ .room }} </h2>

		{{ $xs := .xrange }}
		{{ $ys := .yrange }}
		{{ $gs := .gs }}
		<div class="container">
		{{ range $yr := $ys }}
		{{ range $xr := $xs }}
		{{ if eq $xr $gs.GetX }}
		{{ if eq $yr $gs.GetY }}
			<div class="{{ $gs.GetGridLocClass $xr $yr }}"> X </div>
		{{ else }}
			<div class="{{ $gs.GetGridLocClass $xr $yr }}"> </div>
		{{ end }}
		{{ else }}
			<div class="{{ $gs.GetGridLocClass $xr $yr }}"> </div>
		{{ end }}
		{{ end }}
		{{ end }}
		</div>
	</body>
</html>
